.container * {
    margin: 0;
    padding: 0;
}

.container {
    padding-top: calc(var(--header-height) + 20px);
}

.infoWrapper {
    margin-bottom: 1em;
    color: var(--color-dark-gray-3);
    font-size: .9rem;
    line-height: 1.7;
}


.userInfo:nth-child(1)>span:last-child {
    text-transform: capitalize;
}


.ctaWrapper>button {
    border-radius: 0;
    border-bottom: 1px solid var(--color-blue-primary);
    background-color: transparent;
    text-transform: capitalize;
    color: var(--color-blue-primary);
    padding-bottom: 3px;
    margin-bottom: 2em;
}

.ctaWrapper form {
    padding: 20px;
    border-radius: 10px;
}

.ctaWrapper form>button {
    padding: 1em;
    background-color: var(--color-blue-primary);
    color: white;
}

.ctaWrapper form>div {
    margin-bottom: 1em;
}

.ctaWrapper form label>p {
    text-transform: capitalize;
    font-size: 15px;
    font-family: var(--font-roboto);
    color: var(--color-dark-gray-4);
}

.verify {
    margin: 0 auto;
    text-align: center;
    height: 70vh;
    display: grid;
    place-content: center;
}

.verify>div {
    display: grid;
    gap: .3em;
}

.verify h2 {
    font-size: 2em;
    color: var(--color-dark-gray-4);
    margin-bottom: 1em;
}

.verify>div>p {
    color: var(--color-dark-gray-2);
}

