.container {
  padding-top: 9em;
  padding-inline: 4%;
}

.container label {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-3);
}

.container button {
  margin-top: 1em;
  background-color: var(--gray-4);
  color: var(--off-white);
  border-radius: 7px;
}

.container form {
  margin-bottom: 2em;
}

.container > div > span {
  color: var(--gray-3);
}

.container > div a {
  color: var(--blue-1);
  font-size: 1.2rem;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
    display: grid;
    place-content: center;
    padding-top: 0;
  }

  .container form {
    width: 700px;
  }

  .container > div > span {
    font-size: 1rem;
  }

  .container > div a {
    font-size: 1.3rem;
    text-decoration: none;
  }

  .container > div a:hover,
  .container > div a:focus {
    text-decoration: underline;
  }
}
