.burger {
  color: var(--gray-4);
  place-content: center;
}

.burger {
  font-size: 1.3rem;
  margin-right: 0.4em;
}

.cross {
  font-size: 1.5rem;
  margin-right: 0.03em;
}

@media screen and (min-width: 768px) {
  .container {
    display: none;
  }
}
