.burger,
.cross {
    color: var(--color-dark-gray-4);
    display: grid;
    place-content: center;
}

.burger {
    font-size: 1.3rem;
    margin-right: .4em;

}

.cross {
    font-size: 1.5rem;
    margin-right: .03em;
}

@media screen and (min-width: 768px) {
    .container {
        display: none;
    }
}