.container {
    box-sizing: border-box;
    transform: scale(1);
    transition: transform 100ms;

}

.container:focus,
.container:hover {
    transform: scale(1.06);
    padding: 1em;
    box-shadow: var(--shadow-light);
}


.container button {
    text-transform: capitalize;
}