.btn {
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 2px;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    background-color: #f5f5f5;
    color: var(-dark-gray);
    transform: scale(1);
    transition: transform .4s;
}

.btn:hover,
.btn:focus {
    transform: scale(1.07, 1);
}


@media (min-width: 768px) {
    .btn {
        font-size: 15px;
    }
}