
.formGroup *{
    margin: 0;
}
.formGroup {
    display: grid;
    gap: .4em;
}

.formGroup input {
    padding: 10px 12px;
    font-size: .9rem;
    background-color: #f4f4f4;
    border: none;
    border: 1px solid rgb(240, 231, 231);
    font-weight: 400;
    font-style: normal;
    color: #666;
    line-height: 1.6;
    font-family: var(--font-roboto);
    max-width: 450px;
}

.formGroup span{
    color: firebrick;
    font-size: x-small;
    text-transform: lowercase;
}

.formLabel{
    display: flex;
    align-items: flex-end;
    gap: .4em;
    margin-bottom: 0;
}