.grid * {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2em;
    padding-inline: 3%;
    max-width: 900px;
    margin: 0 auto;
}

.grid * h2 {
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--font-roboto);
    font-weight: 400;
    font-style: normal;
    color: var(--color-dark-gray-3);
    line-height: 1.6;
}

.grid figure {
    text-align: center;
    box-sizing: border-box;
    box-shadow:
        0 .25rem .5rem 0 rgba(0, 0, 0, .1),
        0 .125rem .25rem 0 rgba(0, 0, 0, .02);
}

.grid figure span {
    font-weight: 400;
    font-size: .77rem;
    font-style: normal;
    color: rgb(80, 79, 79);
    justify-content: center;
    margin-top: 0;
}

.grid figcaption div {
    display: grid;
    padding: 0 1em;
}

.grid button {
    padding: 5px 0;
    font-size: 11px;
    color: var(--color-medium-blue);
    background-color: white;
}

.grid button:first-child {
    color: var();
}

.grid button:last-child {
    color: var(--color-dark-gray-3);
    border: 1px solid var(--color-dark-gray-3);
}

@media (min-width: 768px) {
    .grid figure span {
        font-size: 1rem
    }

    .grid * h2 {
        font-size: 15px;
    }

    .grid figure button {
        padding: 7px;
        font-size: 12.8px;
    }

}


.grid figcaption h2 {
    margin-top: .3em;
}

.grid figcaption>* {
    margin-bottom: .3em;
}