
.empty{
    height: 80vh;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    color: var(--color-dark-gray-3);
}

.empty span{
    font-size: 1rem;
    text-align: center;
    color: var(--color-medium-blue);
}
.cta {
    display: grid;
}

.cta button {
    background-color: var(--color-dark-blue);
    color: var(--color-medium-blue);
    padding-block: 1.2em;
}

.itemsList{
    list-style-type: none;
    padding: 0;
}

.itemsList li *{
    margin: 0;
}