.container * {
    margin: 0;
}

.container {
    padding-top: 
        calc(var(--header-height) + var(--padding-primary));
}

.summary {
    background-color: beige;
    padding: 3em;
    margin-block: 3em;
    color: rgb(85, 85, 85);
    font-size: 1.1rem;
    line-height: 1.4;
}