.container {
    padding-top: calc(var(--header-height) + 20px);
}

.container>h2,
.container>h3 {
    font-weight: 400;
    color: var(--gray-4);
}

.container>h2 {
    font-size: 1rem;   
    margin: .5em 0;
}


.container>p {
    color: var(--gray-2);
    margin-bottom: .5em;
}

.container>span {
    margin-bottom: 2em;
    font-weight: 700;
}

.cta {
    gap: 1em;
    margin-bottom: 2.3em;
}

.cta button {
    padding: 1.2em 0;
    font-size: .8rem;
    border-radius: 5px;
    letter-spacing: 2px;
    font-weight: 700;
}

.cta button:first-child {
    border: 2px solid var(--gray-5);
    color: var(--gray-5);
}

.cta button:last-child {
    padding-block: calc(1.2em + 2px);
    color: var(--off-white);
    background-color: var(--gray-5);
}