.contianer * {
    margin: 0;
}

.summary {
    background-color: beige;
    padding: 3em;
    margin-block: 3em;
    color: rgb(85, 85, 85);
    font-size: 1.1rem;
    line-height: 1.4;
}

.gridItems > div{
    border: 1px solid red;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    gap: 2em;
}

.gridItems h2{
    color: var(--color-dark-gray-2);
    font-family: var(--font-open-sans);
    font-size: 1rem;
    text-align: center;
}

.gridItems button{
    /* background-color: black; */
}