@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,100;1,600&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {

  /* Color Schemes */
  --off-white: #f5f5f5;

  --gray: #DCDCDC;
  --gray-1: #808080;
  --gray-2: #696969;
  --gray-3: #36454F;
  --gray-4: #313131;
  --gray-5: #1f1e1e;

  --blue: #5fc2d5;
  --blue-1: #09a0d4;
  --blue-2: #0e204e;

  --orange: #f7b500;


  /* FONTS */
  --roboto-condensed: 'Roboto Condensed',
    sans-serif;
  --poppins: 'Poppins',
    sans-serif;

  /* Header  */
  --header-height: 60px;

  /* Logo */
  --nav-logo-font-size: 1.5rem;

  /* Paddings */
  --padding-primary: 3%;

  --shadow-light: 
    0 .25rem .5rem 0 rgba(0, 0, 0, .1),
    0 .125rem .25rem 0 rgba(0, 0, 0, .02);

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', 'Inter Tight', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


.pd-top-30 {
  padding-top: calc(30px + var(--header-height));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}


section {
  padding: var(--header-height) 3% 2px;
  z-index: 1;
}

@media screen and (max-width: 342px) {
  section {
    padding-top: calc(var(--header-height) + 4px);
  }
}

img {
  z-index: 0;
  object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
}

.flex {
  display: flex;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-content: center;
}


.box-shadow-light {
  box-shadow:
    0 .25rem .5rem 0 rgba(0, 0, 0, .1),
    0 .125rem .25rem 0 rgba(0, 0, 0, .02);
}